.landing-comment {
  margin-top: 10%; }

.landing-navbar {
  margin-top: 40px; }

.login-comment {
  margin-top: 10%; }

.login .swissID {
  font-size: 40px;
  font-weight: bold; }

.login .lang {
  margin-top: 20px; }
  .login .lang .lang-select {
    border: 0;
    background-color: #ffffff; }
  .login .lang .lang-select:focus {
    font-weight: bold; }

.app-reference {
  margin-top: 5%; }

