.landing-comment {
  margin-top: 10%; }

.landing-navbar {
  margin-top: 40px; }

.login-comment {
  margin-top: 10%; }

.login .swissID {
  font-size: 40px;
  font-weight: bold; }

.login .lang {
  margin-top: 20px; }
  .login .lang .lang-select {
    border: 0;
    background-color: #ffffff; }
  .login .lang .lang-select:focus {
    font-weight: bold; }

.app-reference {
  margin-top: 5%; }

.transfer-in .media .media-left {
  width: 100%; }
  .transfer-in .media .media-left .qrbill {
    width: 100px;
    height: 100px; }

.profile .account-details .close-account {
  font-size: 14px; }

.profile .account-details .account-cancel {
  border: 1px gray solid; }

.profile .account-details .account-save-changes {
  border: 1px gray solid; }

.success-alert {
  font-size: 14px;
  background-color: #dff0d8;
  color: #3c763d; }

.transfer-out .transout-submit {
  border: 1px #333 solid;
  color: #337ab7;
  background-color: #e6e6e6;
  font-weight: bold; }

.transfer-out .transout-submit:hover {
  background-color: #cccccc; }

.top-bar {
  color: #337ab7; }

