$color_border_submit:1px #333 solid;
$color_submit_forecolor: #337ab7;
.transfer-out {
  .transout-submit {
    border: $color_border_submit;
    color: $color_submit_forecolor;
    background-color: lighten(#333, 70%);
    font-weight: bold;
  }
  .transout-submit:hover {
    background-color: lighten(#333, 60%);
  }
}