$red-color: #eb0000;
.login-comment {
  margin-top: 10%;
}
.login {
  .swissID {
    font-size: 40px;
    font-weight: bold;

  }
  .lang {
    margin-top: 20px;
    .lang-select {
      border: 0;
      background-color: #ffffff;
    }
    .lang-select:focus {
      font-weight: bold;
    }
  }
}